.root
{
    -fx-background-color: #FE6666;
    -fx-background-image: url("/img/menubg.png");
    -fx-background-size: stretch;
    -fx-focus-color: rgb(255, 107, 0);
}
.label
{
    -fx-text-alignment: right;
    /*-fx-background-color: rgba(255, 255, 255, 0.60);*/
    -fx-font-weight: bold;
    -fx-background-radius: 6 6 6 6;
    -fx-font-size: 20;
}
.radio-button
{
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.text-field
{
    -fx-border-color: rgb(255, 107, 0);
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
    -fx-text-fill: rgb(255, 107, 0);
    -fx-font-size: 15;
}
.text-field:focused
{
    -fx-faint-focus-color: rgba(255, 107, 0, 0.2);
}
.outline.label .text
{
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}
.button
{
    -fx-background-color: rgb(255, 107, 0);
    -fx-background-radius: 8 8 8 8;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 8 8 8 8;
    -fx-cursor: hand;
    -fx-opacity: 1.0;
}
.button:pressed
{
    -fx-opacity: 0.7;
}